{:highlights [{:id #uuid "652495ec-712c-43cd-8290-b3123f5ac828",
               :page 3,
               :position {:bounding {:x1 -3.562500149011612,
                                     :y1 16.48748779296875,
                                     :x2 15.225000232458115,
                                     :y2 34.88751220703125,
                                     :width 713,
                                     :height 534.75},
                          :rects ({:x1 -3.562500149011612,
                                   :y1 16.48748779296875,
                                   :x2 15.225000232458115,
                                   :y2 34.88751220703125,
                                   :width 713,
                                   :height 534.75}),
                          :page 3},
               :content {:text "《"},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
