{:highlights [{:id #uuid "665677da-bc7f-475b-ada3-74b038baaeef",
               :page 2,
               :position {:bounding {:x1 103.4375,
                                     :y1 177.82499980926514,
                                     :x2 786.6416015625,
                                     :y2 217.82499980926514,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 103.4375,
                                   :y1 177.82499980926514,
                                   :x2 786.6416015625,
                                   :y2 217.82499980926514,
                                   :width 1033,
                                   :height 774.75}),
                          :page 2},
               :content {:text "测试是为了发现错误而执行程序的过程"},
               :properties {:color "red"}}
              {:id #uuid "665677eb-ebc4-46bf-a4e6-3fb2e1b03d31",
               :page 3,
               :position {:bounding {:x1 103.7125015258789,
                                     :y1 177.82498931884766,
                                     :x2 625.5728530883789,
                                     :y2 217.82498931884766,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 103.7125015258789,
                                   :y1 177.82498931884766,
                                   :x2 625.5728530883789,
                                   :y2 217.82498931884766,
                                   :width 1033,
                                   :height 774.75}),
                          :page 3},
               :content {:text "零缺陷是目标！足够好是原则"},
               :properties {:color "red"}}
              {:id #uuid "665677ed-beac-4156-90de-9d76f20a47b8",
               :page 3,
               :position {:bounding {:x1 536.6328125,
                                     :y1 222.62500762939453,
                                     :x2 674.3562622070312,
                                     :y2 268.22501373291016,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 536.6328125,
                                   :y1 222.62500762939453,
                                   :x2 674.3562622070312,
                                   :y2 268.22501373291016,
                                   :width 1033,
                                   :height 774.75}),
                          :page 3},
               :content {:text "用户需求"},
               :properties {:color "red"}}
              {:id #uuid "665677f9-8d47-4e0a-85f9-b8c895e4d55f",
               :page 3,
               :position {:bounding {:x1 123.51250457763672,
                                     :y1 496.43751525878906,
                                     :x2 605.5050582885742,
                                     :y2 542.0375213623047,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 123.51250457763672,
                                   :y1 496.43751525878906,
                                   :x2 605.5050582885742,
                                   :y2 542.0375213623047,
                                   :width 1033,
                                   :height 774.75}),
                          :page 3},
               :content {:text "第三方进行测试会更客观更有效"},
               :properties {:color "red"}}
              {:id #uuid "665677fd-8fb0-4b94-928b-0c9f4cdef71e",
               :page 3,
               :position {:bounding {:x1 123.51250457763672,
                                     :y1 587.7500152587891,
                                     :x2 846.615837097168,
                                     :y2 633.3500213623047,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 123.51250457763672,
                                   :y1 587.7500152587891,
                                   :x2 846.615837097168,
                                   :y2 633.3500213623047,
                                   :width 1033,
                                   :height 774.75}),
                          :page 3},
               :content {:text "对发现错误较多的程序段，应进行更深入的测试"},
               :properties {:color "red"}}
              {:id #uuid "66567cff-6704-4892-9bd3-01bfec6bc4e0",
               :page 17,
               :position {:bounding {:x1 283.014404296875,
                                     :y1 177.82498931884766,
                                     :x2 564.3071899414062,
                                     :y2 217.82498931884766,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 283.014404296875,
                                   :y1 177.82498931884766,
                                   :x2 564.3071899414062,
                                   :y2 217.82498931884766,
                                   :width 1033,
                                   :height 774.75}),
                          :page 17},
               :content {:text "最小可测试单元"},
               :properties {:color "red"}}
              {:id #uuid "66567da1-a22a-4eb1-94c3-fd5d747d86b7",
               :page 19,
               :position {:bounding {:x1 82.11250305175781,
                                     :y1 226.06249618530273,
                                     :x2 965.7662963867188,
                                     :y2 314.2750053405762,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 82.11250305175781,
                                   :y1 226.06249618530273,
                                   :x2 965.7662963867188,
                                   :y2 266.06249618530273,
                                   :width 1033,
                                   :height 774.75}
                                  {:x1 82.11250305175781,
                                   :y1 274.2750053405762,
                                   :x2 282.8496398925781,
                                   :y2 314.2750053405762,
                                   :width 1033,
                                   :height 774.75}),
                          :page 19},
               :content {:text "将所有模块按照设计要求组装成为子系统或系统后进行的测试"},
               :properties {:color "red"}}
              {:id #uuid "665681a1-038c-41a1-86b2-c9599e537700",
               :page 23,
               :position {:bounding {:x1 122.26250457763672,
                                     :y1 276.39999771118164,
                                     :x2 948.6697387695312,
                                     :y2 363.8375129699707,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 535.45361328125,
                                   :y1 276.39999771118164,
                                   :x2 948.6697387695312,
                                   :y2 322.0000190734863,
                                   :width 1033,
                                   :height 774.75}
                                  {:x1 122.26250457763672,
                                   :y1 318.2375068664551,
                                   :x2 363.29686737060547,
                                   :y2 363.8375129699707,
                                   :width 1033,
                                   :height 774.75}),
                          :page 23},
               :content {:text "甚至包括某些数据、某些支持软件及其接口"},
               :properties {:color "red"}}
              {:id #uuid "6656830e-0ce4-446b-8eee-24cf41685e2f",
               :page 25,
               :position {:bounding {:x1 82.11250305175781,
                                     :y1 177.82500076293945,
                                     :x2 966.2141876220703,
                                     :y2 266.0625190734863,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 82.11250305175781,
                                   :y1 177.82500076293945,
                                   :x2 966.2141876220703,
                                   :y2 217.82500076293945,
                                   :width 1033,
                                   :height 774.75}
                                  {:x1 82.11250305175781,
                                   :y1 226.06251907348633,
                                   :x2 724.7431640625,
                                   :y2 266.0625190734863,
                                   :width 1033,
                                   :height 774.75}),
                          :page 25},
               :content {:text "修改了旧代码后，重新进行测试以确认修改没有引入新的错误或导致其他代码产生错误"},
               :properties {:color "red"}}
              {:id #uuid "665684a7-a962-48a7-8bf2-7004e2240d8a",
               :page 31,
               :position {:bounding {:x1 93.375,
                                     :y1 456.82501888275146,
                                     :x2 454.37205505371094,
                                     :y2 558.4125127792358,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 173.5868377685547,
                                   :y1 456.82501888275146,
                                   :x2 454.37205505371094,
                                   :y2 509.6250066757202,
                                   :width 1033,
                                   :height 774.75}
                                  {:x1 93.375,
                                   :y1 505.61249446868896,
                                   :x2 173.6056671142578,
                                   :y2 558.4125127792358,
                                   :width 1033,
                                   :height 774.75}),
                          :page 31},
               :content {:text "单元测试、集成测试"},
               :properties {:color "red"}}
              {:id #uuid "66568509-d499-4953-8e2b-c93a598631fc",
               :page 37,
               :position {:bounding {:x1 93.375,
                                     :y1 391.26251220703125,
                                     :x2 437.71343994140625,
                                     :y2 520.0625152587891,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 93.375,
                                   :y1 391.26251220703125,
                                   :x2 437.71337890625,
                                   :y2 436.8625183105469,
                                   :width 1033,
                                   :height 774.75}
                                  {:x1 93.375,
                                   :y1 432.58750915527344,
                                   :x2 437.71343994140625,
                                   :y2 478.18751525878906,
                                   :width 1033,
                                   :height 774.75}
                                  {:x1 93.375,
                                   :y1 474.46250915527344,
                                   :x2 299.9830322265625,
                                   :y2 520.0625152587891,
                                   :width 1033,
                                   :height 774.75}),
                          :page 37},
               :content {:text "有计划的测试效率高、针对性强，可以很好地达到测试目标"},
               :properties {:color "red"}}
              {:id #uuid "66568531-d7b6-442d-b681-c896c1fff8e8",
               :page 40,
               :position {:bounding {:x1 153.25,
                                     :y1 302.5875015258789,
                                     :x2 393.9420166015625,
                                     :y2 403.56250762939453,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 353.8141784667969,
                                   :y1 302.5875015258789,
                                   :x2 393.9420166015625,
                                   :y2 355.3875198364258,
                                   :width 1033,
                                   :height 774.75}
                                  {:x1 153.25,
                                   :y1 350.7625198364258,
                                   :x2 313.7063293457031,
                                   :y2 403.56250762939453,
                                   :width 1033,
                                   :height 774.75}),
                          :page 40},
               :content {:text "走查、复审"},
               :properties {:color "red"}}
              {:id #uuid "6656855e-6088-4420-8668-265c74490575",
               :page 42,
               :position {:bounding {:x1 153.25,
                                     :y1 303.1124954223633,
                                     :x2 393.9420166015625,
                                     :y2 403.56250762939453,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 353.8141784667969,
                                   :y1 303.1124954223633,
                                   :x2 393.9420166015625,
                                   :y2 355.91251373291016,
                                   :width 1033,
                                   :height 774.75}
                                  {:x1 153.25,
                                   :y1 350.7625198364258,
                                   :x2 273.5922546386719,
                                   :y2 403.56250762939453,
                                   :width 1033,
                                   :height 774.75}),
                          :page 42},
               :content {:text "文档测试"},
               :properties {:color "red"}}
              {:id #uuid "665685e7-4e78-4ce9-9a4e-0c9e9124b55b",
               :page 55,
               :position {:bounding {:x1 123.51250457763672,
                                     :y1 218.32499313354492,
                                     :x2 571.069938659668,
                                     :y2 263.92499923706055,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 123.51250457763672,
                                   :y1 218.32499313354492,
                                   :x2 571.069938659668,
                                   :y2 263.92499923706055,
                                   :width 1033,
                                   :height 774.75}),
                          :page 55},
               :content {:text "输入异常数据或进行异常操作"},
               :properties {:color "red"}}
              {:id #uuid "665685f1-fbff-486b-ae51-233f2157c0d2",
               :page 55,
               :position {:bounding {:x1 123.51250457763672,
                                     :y1 259.1875114440918,
                                     :x2 364.5468978881836,
                                     :y2 304.7875175476074,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 123.51250457763672,
                                   :y1 259.1875114440918,
                                   :x2 364.5468978881836,
                                   :y2 304.7875175476074,
                                   :width 1033,
                                   :height 774.75}),
                          :page 55},
               :content {:text "灾难恢复性测试"},
               :properties {:color "red"}}
              {:id #uuid "665685fa-8e4d-4e8b-bf30-185d2afaeb42",
               :page 55,
               :position {:bounding {:x1 123.51250457763672,
                                     :y1 431.90000915527344,
                                     :x2 330.12056732177734,
                                     :y2 477.5,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 123.51250457763672,
                                   :y1 431.90000915527344,
                                   :x2 330.12056732177734,
                                   :y2 477.5,
                                   :width 1033,
                                   :height 774.75}),
                          :page 55},
               :content {:text "应用程序级别"},
               :properties {:color "red"}}
              {:id #uuid "665685fe-991b-4b3d-817d-cd32ea77af4a",
               :page 55,
               :position {:bounding {:x1 123.51250457763672,
                                     :y1 555.8999938964844,
                                     :x2 261.25536346435547,
                                     :y2 601.5,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 123.51250457763672,
                                   :y1 555.8999938964844,
                                   :x2 261.25536346435547,
                                   :y2 601.5,
                                   :width 1033,
                                   :height 774.75}),
                          :page 55},
               :content {:text "系统级别"},
               :properties {:color "red"}}
              {:id #uuid "6656862c-29ee-4e35-bbd1-ae96299e9f50",
               :page 66,
               :position {:bounding {:x1 101.88750457763672,
                                     :y1 175.66250610351562,
                                     :x2 383.34334564208984,
                                     :y2 231.66250610351562,
                                     :width 1033,
                                     :height 774.75},
                          :rects ({:x1 101.88750457763672,
                                   :y1 175.66250610351562,
                                   :x2 383.34334564208984,
                                   :y2 231.66250610351562,
                                   :width 1033,
                                   :height 774.75}),
                          :page 66},
               :content {:text "项目的进度管理"},
               :properties {:color "red"}}
              {:id #uuid "6656d9ef-611d-45af-9b44-57320d3c2d4b",
               :page 20,
               :position {:bounding {:x1 543.6749877929688,
                                     :y1 468.68749237060547,
                                     :x2 721.1449584960938,
                                     :y2 497.48751068115234,
                                     :width 796.9999999999999,
                                     :height 597.7499999999999},
                          :rects ({:x1 543.6749877929688,
                                   :y1 468.68749237060547,
                                   :x2 721.1449584960938,
                                   :y2 497.48751068115234,
                                   :width 796.9999999999999,
                                   :height 597.7499999999999}),
                          :page 20},
               :content {:text "必须给出驱动程序"},
               :properties {:color "red"}}],
 :extra {:page 51}}
