{:highlights [{:id #uuid "665686ec-cc54-4fb0-84f2-cd31f18f191a",
               :page 10,
               :position {:bounding {:x1 122.26250457763672,
                                     :y1 283.28751373291016,
                                     :x2 948.6697387695312,
                                     :y2 370.21250915527344,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 742.0617065429688,
                                   :y1 283.28751373291016,
                                   :x2 948.6697387695312,
                                   :y2 328.88751220703125,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}
                                  {:x1 122.26250457763672,
                                   :y1 324.6125183105469,
                                   :x2 707.6354293823242,
                                   :y2 370.21250915527344,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 10},
               :content {:text "程序中每个判断的取真分支和取假分支至少经历一次"},
               :properties {:color "red"}}
              {:id #uuid "6656877a-80a4-4372-ae7f-4f1cc0551be2",
               :page 12,
               :position {:bounding {:x1 122.26250457763672,
                                     :y1 324.6125030517578,
                                     :x2 948.6697387695312,
                                     :y2 412.0124969482422,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 604.3187866210938,
                                   :y1 324.6125030517578,
                                   :x2 948.6697387695312,
                                   :y2 370.2124938964844,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}
                                  {:x1 122.26250457763672,
                                   :y1 366.4125061035156,
                                   :x2 432.1300277709961,
                                   :y2 412.0124969482422,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 12},
               :content {:text "每个条件至少有一次为真值，有一次为假值"},
               :properties {:color "red"}}
              {:id #uuid "6656878d-9223-4265-8a1a-e17fa9519245",
               :page 13,
               :position {:bounding {:x1 224.1875,
                                     :y1 547.2874984741211,
                                     :x2 949.1781616210938,
                                     :y2 633.6999969482422,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 914.7393798828125,
                                   :y1 547.2874984741211,
                                   :x2 949.1781616210938,
                                   :y2 592.8874969482422,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}
                                  {:x1 224.1875,
                                   :y1 588.0999908447266,
                                   :x2 637.39111328125,
                                   :y2 633.6999969482422,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 13},
               :content {:text "条件覆盖并不能保证判定覆盖"},
               :properties {:color "red"}}
              {:id #uuid "665687b1-4a8b-4d78-adb7-dce6e19db8d5",
               :page 17,
               :position {:bounding {:x1 329.3665466308594,
                                     :y1 605.8249969482422,
                                     :x2 673.7174682617188,
                                     :y2 651.4250030517578,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 329.3665466308594,
                                   :y1 605.8249969482422,
                                   :x2 673.7174682617188,
                                   :y2 651.4250030517578,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 17},
               :content {:text "增加了测试用例的数量"},
               :properties {:color "red"}}
              {:id #uuid "665687f4-1941-41b0-b9f6-f8052aaba2c9",
               :page 19,
               :position {:bounding {:x1 294.940185546875,
                                     :y1 390.57501220703125,
                                     :x2 639.2786254882812,
                                     :y2 436.1750030517578,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 294.940185546875,
                                   :y1 390.57501220703125,
                                   :x2 639.2786254882812,
                                   :y2 436.1750030517578,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 19},
               :content {:text "对程序进行彻底的测试"},
               :properties {:color "red"}}
              {:id #uuid "66568868-c83c-4507-89b6-44add38a983f",
               :page 28,
               :position {:bounding {:x1 181.0872039794922,
                                     :y1 175.66250908374786,
                                     :x2 783.7396087646484,
                                     :y2 231.66250908374786,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 181.0872039794922,
                                   :y1 175.66250908374786,
                                   :x2 783.7396087646484,
                                   :y2 231.66250908374786,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 28},
               :content {:text "把覆盖的路径数压缩到一定限度内"},
               :properties {:color "red"}}
              {:id #uuid "6656886d-2d9c-4a2d-94ef-4b04c0bbc530",
               :page 28,
               :position {:bounding {:x1 100.73750305175781,
                                     :y1 223.92500603199005,
                                     :x2 944.35986328125,
                                     :y2 328.6500121355057,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 864.0012817382812,
                                   :y1 223.92500603199005,
                                   :x2 944.35986328125,
                                   :y2 279.92500603199005,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}
                                  {:x1 100.73750305175781,
                                   :y1 272.6500121355057,
                                   :x2 261.7525634765625,
                                   :y2 328.6500121355057,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 28},
               :content {:text "基本路径测试"},
               :properties {:color "red"}}
              {:id #uuid "665688e6-8142-42d9-8b2b-b28d1e72f709",
               :page 40,
               :position {:bounding {:x1 122.26250457763672,
                                     :y1 235.0874969959259,
                                     :x2 948.6698608398438,
                                     :y2 322.52501225471497,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 569.8925170898438,
                                   :y1 235.0874969959259,
                                   :x2 948.6698608398438,
                                   :y2 280.6875183582306,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}
                                  {:x1 122.26250457763672,
                                   :y1 276.92500615119934,
                                   :x2 501.0398483276367,
                                   :y2 322.52501225471497,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 40},
               :content {:text "细小的修改来引入简单错误，生成程序的错误版本"},
               :properties {:color "red"}}
              {:id #uuid "665688eb-75c6-4b08-9640-7fdd789ca656",
               :page 40,
               :position {:bounding {:x1 845.3533325195312,
                                     :y1 276.92500615119934,
                                     :x2 948.6698608398438,
                                     :y2 322.52501225471497,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 845.3533325195312,
                                   :y1 276.92500615119934,
                                   :x2 948.6698608398438,
                                   :y2 322.52501225471497,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 40},
               :content {:text "变异体"},
               :properties {:color "red"}}
              {:id #uuid "6656892b-01ba-4b80-a938-37446d26e400",
               :page 30,
               :position {:bounding {:x1 142.75,
                                     :y1 456.6374969482422,
                                     :x2 969.8092041015625,
                                     :y2 545.9250030517578,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 590.4721069335938,
                                   :y1 456.6374969482422,
                                   :x2 969.8092041015625,
                                   :y2 504.6374969482422,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}
                                  {:x1 142.75,
                                   :y1 497.9250030517578,
                                   :x2 694.3043823242188,
                                   :y2 545.9250030517578,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 30},
               :content {:text "程序的环路复杂性给出了程序基本路径集合中的独立路径条数"},
               :properties {:color "red"}}],
 :extra {:page 33}}
