{:highlights [{:id #uuid "662b0644-9168-48b8-8faf-23de75b71011",
               :page 6,
               :position {:bounding {:x1 79.77500457689166,
                                     :y1 153.43749618530273,
                                     :x2 623.1346237175167,
                                     :y2 200.81249618530273,
                                     :width 674,
                                     :height 505.5},
                          :rects ({:x1 79.77500457689166,
                                   :y1 153.43749618530273,
                                   :x2 623.1346237175167,
                                   :y2 178.23749923706055,
                                   :width 674,
                                   :height 505.5}
                                  {:x1 79.77500457689166,
                                   :y1 176.01250839233398,
                                   :x2 323.5577804557979,
                                   :y2 200.81249618530273,
                                   :width 674,
                                   :height 505.5}),
                          :page 6},
               :content {:text "在输入条件规定了取值范围或值的个数的情况下，则可以确立一个有效等价类和两个无效等价类"},
               :properties {:color "red"}}],
 :extra {:page 20}}
