{:highlights [{:id #uuid "662b0644-9168-48b8-8faf-23de75b71011",
               :page 6,
               :position {:bounding {:x1 79.77500457689166,
                                     :y1 153.43749618530273,
                                     :x2 623.1346237175167,
                                     :y2 200.81249618530273,
                                     :width 674,
                                     :height 505.5},
                          :rects ({:x1 79.77500457689166,
                                   :y1 153.43749618530273,
                                   :x2 623.1346237175167,
                                   :y2 178.23749923706055,
                                   :width 674,
                                   :height 505.5}
                                  {:x1 79.77500457689166,
                                   :y1 176.01250839233398,
                                   :x2 323.5577804557979,
                                   :y2 200.81249618530273,
                                   :width 674,
                                   :height 505.5}),
                          :page 6},
               :content {:text "在输入条件规定了取值范围或值的个数的情况下，则可以确立一个有效等价类和两个无效等价类"},
               :properties {:color "red"}}
              {:id #uuid "66568a60-4ca4-436c-87ed-3eaf2dca7477",
               :page 15,
               :position {:bounding {:x1 100.73750305175781,
                                     :y1 242.93750762939453,
                                     :x2 927.6316680908203,
                                     :y2 358.7999954223633,
                                     :width 1032.9999999999998,
                                     :height 774.7499999999999},
                          :rects ({:x1 192.6750030517578,
                                   :y1 242.93750762939453,
                                   :x2 927.6316680908203,
                                   :y2 303.7374954223633,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}
                                  {:x1 100.73750305175781,
                                   :y1 298.00000762939453,
                                   :x2 238.5442352294922,
                                   :y2 358.7999954223633,
                                   :width 1032.9999999999998,
                                   :height 774.7499999999999}),
                          :page 15},
               :content {:text "边界值分析法是作为对等价类划分法的补充"},
               :properties {:color "red"}}
              {:id #uuid "66592bdd-7fa4-400f-9168-3c2e150d9e5c",
               :page 8,
               :position {:bounding {:x1 88.4375,
                                     :y1 206.0374984741211,
                                     :x2 600.4627075195312,
                                     :y2 261.27500915527344,
                                     :width 640,
                                     :height 480},
                          :rects ({:x1 323.1078186035156,
                                   :y1 206.0374984741211,
                                   :x2 600.4627075195312,
                                   :y2 235.6374969482422,
                                   :width 640,
                                   :height 480}
                                  {:x1 88.4375,
                                   :y1 231.6750030517578,
                                   :x2 237.8325958251953,
                                   :y2 261.27500915527344,
                                   :width 640,
                                   :height 480}),
                          :page 8},
               :content {:text "使其尽可能多地覆盖尚未被覆盖地有效等价类"},
               :properties {:color "red"}}
              {:id #uuid "66592be2-c6dc-4ee3-8cbc-9d3056afa7fa",
               :page 8,
               :position {:bounding {:x1 88.4375,
                                     :y1 288.21250915527344,
                                     :x2 600.6204833984375,
                                     :y2 343.4375,
                                     :width 640,
                                     :height 480},
                          :rects ({:x1 344.5230712890625,
                                   :y1 288.21250915527344,
                                   :x2 600.6204833984375,
                                   :y2 317.8125,
                                   :width 640,
                                   :height 480}
                                  {:x1 88.4375,
                                   :y1 313.83750915527344,
                                   :x2 195.1516876220703,
                                   :y2 343.4375,
                                   :width 640,
                                   :height 480}),
                          :page 8},
               :content {:text "其仅覆盖一个尚未被覆盖的无效等价类"},
               :properties {:color "red"}}],
 :extra {:page 25}}
