{:highlights [{:id #uuid "65efc354-dbd3-4900-a752-a87934c04348",
               :page 25,
               :position {:bounding {:x1 0,
                                     :y1 337.8625068664551,
                                     :x2 685,
                                     :y2 1037.5000495910645,
                                     :width 685,
                                     :height 513.75},
                          :rects ({:x1 288.0875183045864,
                                   :y1 337.8625068664551,
                                   :x2 383.6123901307583,
                                   :y2 356.26250076293945,
                                   :width 685,
                                   :height 513.75}
                                  {:x1 315.16249999403954,
                                   :y1 361.63750076293945,
                                   :x2 356.38149413466454,
                                   :y2 380.0374946594238,
                                   :width 685,
                                   :height 513.75}
                                  {:x1 0,
                                   :y1 523.7499885559082,
                                   :x2 685,
                                   :y2 1037.5000495910645,
                                   :width 685,
                                   :height 513.75}),
                          :page 25},
               :content {:text "规格说明书54%"},
               :properties {:color "red"}}],
 :extra {:page 29}}
