{:highlights [{:id #uuid "665d11ba-65f2-44c0-8080-0ac13da26346",
               :page 33,
               :position {:bounding {:x1 150.32500916719437,
                                     :y1 405.81251525878906,
                                     :x2 251.36069947481155,
                                     :y2 438.6125183105469,
                                     :width 640,
                                     :height 480},
                          :rects ({:x1 150.32500916719437,
                                   :y1 405.81251525878906,
                                   :x2 251.36069947481155,
                                   :y2 438.6125183105469,
                                   :width 640,
                                   :height 480}),
                          :page 33},
               :content {:text "假言推理"},
               :properties {:color "blue"}}],
 :extra {:page 72}}
