{:highlights [{:id #uuid "66446f8a-4150-4808-a6f0-dff29ce3bae4",
               :page 10,
               :position {:bounding {:x1 60.06249923631549,
                                     :y1 284.63748931884766,
                                     :x2 423.2947189323604,
                                     :y2 308.63748931884766,
                                     :width 662,
                                     :height 496.5},
                          :rects ({:x1 60.06249923631549,
                                   :y1 284.63748931884766,
                                   :x2 423.2947189323604,
                                   :y2 308.63748931884766,
                                   :width 662,
                                   :height 496.5}),
                          :page 10},
               :content {:text "HDFS面向批量访问模式，不是随机访问模式"},
               :properties {:color "yellow"}}
              {:id #uuid "66447041-f00d-470f-8500-3992cb6cd99a",
               :page 12,
               :position {:bounding {:x1 56.26249999925494,
                                     :y1 407.4499969482422,
                                     :x2 608.3751098625362,
                                     :y2 464.6000213623047,
                                     :width 662,
                                     :height 496.5},
                          :rects ({:x1 516.4499999992549,
                                   :y1 407.4499969482422,
                                   :x2 608.3751098625362,
                                   :y2 431.4499969482422,
                                   :width 662,
                                   :height 496.5}
                                  {:x1 470.4124938957393,
                                   :y1 409.43751525878906,
                                   :x2 516.3658325187862,
                                   :y2 427.83750915527344,
                                   :width 662,
                                   :height 496.5}
                                  {:x1 56.26249999925494,
                                   :y1 440.6000213623047,
                                   :x2 93.109194945544,
                                   :y2 464.6000213623047,
                                   :width 662,
                                   :height 496.5}),
                          :page 12},
               :content {:text "HBase是基于列存储的"},
               :properties {:color "yellow"}}
              {:id #uuid "6644707e-0b0d-4233-9036-cac4672b2202",
               :page 13,
               :position {:bounding {:x1 254.39999694749713,
                                     :y1 167.02499389648438,
                                     :x2 484.3042175285518,
                                     :y2 191.02499389648438,
                                     :width 662,
                                     :height 496.5},
                          :rects ({:x1 254.46834106370807,
                                   :y1 167.02499389648438,
                                   :x2 254.48083801195025,
                                   :y2 191.02499389648438,
                                   :width 662,
                                   :height 496.5}
                                  {:x1 300.4124938957393,
                                   :y1 167.02499389648438,
                                   :x2 484.3042175285518,
                                   :y2 191.02499389648438,
                                   :width 662,
                                   :height 496.5}
                                  {:x1 254.39999694749713,
                                   :y1 168.98748779296875,
                                   :x2 300.4666931144893,
                                   :y2 187.38751220703125,
                                   :width 662,
                                   :height 496.5}),
                          :page 13},
               :content {:text "HBase只有一个索引——行键"},
               :properties {:color "yellow"}}],
 :extra {:page 62}}
