{:highlights [{:id #uuid "66544180-9cff-49df-a124-7badd1907a1e",
               :page 32,
               :position {:bounding {:x1 555.6537109315395,
                                     :y1 192.5500087738037,
                                     :x2 631.5296874940395,
                                     :y2 217.34999656677246,
                                     :width 679,
                                     :height 509.25},
                          :rects ({:x1 555.6537109315395,
                                   :y1 192.5500087738037,
                                   :x2 631.5296874940395,
                                   :y2 217.34999656677246,
                                   :width 679,
                                   :height 509.25}),
                          :page 32},
               :content {:text "实时查询"},
               :properties {:color "red"}}
              {:id #uuid "666c6189-ee9a-466a-b0bd-dfbcba793059",
               :page 9,
               :position {:bounding {:x1 104.83316802978516,
                                     :y1 175.3874969482422,
                                     :x2 186.59552001953125,
                                     :y2 211.3874969482422,
                                     :width 813,
                                     :height 609.75},
                          :rects ({:x1 104.83316802978516,
                                   :y1 175.3874969482422,
                                   :x2 186.59552001953125,
                                   :y2 211.3874969482422,
                                   :width 813,
                                   :height 609.75}),
                          :page 9},
               :content {:text "批处理"},
               :properties {:color "red"}}
              {:id #uuid "666c6190-0afe-47cf-82e3-69a210480703",
               :page 9,
               :position {:bounding {:x1 140.1146240234375,
                                     :y1 222.31251525878906,
                                     :x2 529.1383666992188,
                                     :y2 251.91249084472656,
                                     :width 813,
                                     :height 609.75},
                          :rects ({:x1 140.1146240234375,
                                   :y1 222.31251525878906,
                                   :x2 529.1383666992188,
                                   :y2 251.91249084472656,
                                   :width 813,
                                   :height 609.75}),
                          :page 9},
               :content {:text "把HiveQL语句转换成MapReduce任务"},
               :properties {:color "red"}}
              {:id #uuid "666d1836-f35b-46d4-a8db-ad71e96171d1",
               :page 11,
               :position {:bounding {:x1 55.42181396484375,
                                     :y1 335.92503356933594,
                                     :x2 134.6905975341797,
                                     :y2 361.52500915527344,
                                     :width 708,
                                     :height 531},
                          :rects ({:x1 55.42181396484375,
                                   :y1 335.92503356933594,
                                   :x2 134.6905975341797,
                                   :y2 361.52500915527344,
                                   :width 708,
                                   :height 531}),
                          :page 11},
               :content {:text "半结构化"},
               :properties {:color "red"}}],
 :extra {:page 41}}
