{:highlights [{:id #uuid "66544180-9cff-49df-a124-7badd1907a1e",
               :page 32,
               :position {:bounding {:x1 555.6537109315395,
                                     :y1 192.5500087738037,
                                     :x2 631.5296874940395,
                                     :y2 217.34999656677246,
                                     :width 679,
                                     :height 509.25},
                          :rects ({:x1 555.6537109315395,
                                   :y1 192.5500087738037,
                                   :x2 631.5296874940395,
                                   :y2 217.34999656677246,
                                   :width 679,
                                   :height 509.25}),
                          :page 32},
               :content {:text "实时查询"},
               :properties {:color "red"}}],
 :extra {:page 23}}
