{:highlights [{:id #uuid "66544fed-2de4-4a60-b94a-af5215810485",
               :page 24,
               :position {:bounding {:x1 155.38503417372704,
                                     :y1 405.07503509521484,
                                     :x2 189.34906920790672,
                                     :y2 427.4749984741211,
                                     :width 679,
                                     :height 509.25},
                          :rects ({:x1 155.38503417372704,
                                   :y1 405.07503509521484,
                                   :x2 189.34906920790672,
                                   :y2 427.4749984741211,
                                   :width 679,
                                   :height 509.25}),
                          :page 24},
               :content {:text "线程"},
               :properties {:color "red"}}
              {:id #uuid "6654517b-db21-4232-a68c-eeb01db8f4ce",
               :page 27,
               :position {:bounding {:x1 105.47943115234375,
                                     :y1 182.45001220703125,
                                     :x2 609.2506103515625,
                                     :y2 216.05001831054688,
                                     :width 762,
                                     :height 571.5},
                          :rects ({:x1 105.47943115234375,
                                   :y1 182.45001220703125,
                                   :x2 609.2506103515625,
                                   :y2 216.05001831054688,
                                   :width 762,
                                   :height 571.5}),
                          :page 27},
               :content {:text "每个Application都有自己专属的Executor进程"},
               :properties {:color "red"}}
              {:id #uuid "6654520b-e0a4-43ef-96da-60b6209dd274",
               :page 30,
               :position {:bounding {:x1 626.1000366210938,
                                     :y1 175.46249389648438,
                                     :x2 676.9000244140625,
                                     :y2 209.0625,
                                     :width 762,
                                     :height 571.5},
                          :rects ({:x1 626.1000366210938,
                                   :y1 175.46249389648438,
                                   :x2 676.9000244140625,
                                   :y2 209.0625,
                                   :width 762,
                                   :height 571.5}),
                          :page 30},
               :content {:text "只读"},
               :properties {:color "red"}}
              {:id #uuid "66712927-6571-4428-8f14-9f976bfd100b",
               :page 26,
               :position {:bounding {:x1 406.5625183098018,
                                     :y1 155.83749389648438,
                                     :x2 499.8617126457393,
                                     :y2 178.23748779296875,
                                     :width 677.9999999999999,
                                     :height 508.49999999999994},
                          :rects ({:x1 406.5625183098018,
                                   :y1 155.83749389648438,
                                   :x2 499.8617126457393,
                                   :y2 178.23748779296875,
                                   :width 677.9999999999999,
                                   :height 508.49999999999994}),
                          :page 26},
               :content {:text "SparkContext"},
               :properties {:color "red"}}],
 :extra {:page 28}}
