{:highlights [{:id #uuid "666d3a4d-7548-4f5a-992b-6e94e5b75e7c",
               :page 28,
               :position {:bounding {:x1 197.95254516601562,
                                     :y1 140.84999084472656,
                                     :x2 268.7685546875,
                                     :y2 164.0500030517578,
                                     :width 708,
                                     :height 531},
                          :rects ({:x1 197.95254516601562,
                                   :y1 140.84999084472656,
                                   :x2 268.7685546875,
                                   :y2 164.0500030517578,
                                   :width 708,
                                   :height 531}),
                          :page 28},
               :content {:text "具有状态"},
               :properties {:color "red"}}
              {:id #uuid "666d3ab2-44a1-4200-8785-0bba37ac74f7",
               :page 30,
               :position {:bounding {:x1 233.35655212402344,
                                     :y1 140.8500213623047,
                                     :x2 374.9635925292969,
                                     :y2 164.0500030517578,
                                     :width 708,
                                     :height 531},
                          :rects ({:x1 233.35655212402344,
                                   :y1 140.8500213623047,
                                   :x2 374.9635925292969,
                                   :y2 164.0500030517578,
                                   :width 708,
                                   :height 531}),
                          :page 30},
               :content {:text "有状态流处理应用"},
               :properties {:color "red"}}
              {:id #uuid "666d3abe-41c9-4929-9da5-8b4cdcc276a9",
               :page 30,
               :position {:bounding {:x1 20.962499618530273,
                                     :y1 140.8500213623047,
                                     :x2 675.869140625,
                                     :y2 190.6000213623047,
                                     :width 708,
                                     :height 531},
                          :rects ({:x1 622.7571411132812,
                                   :y1 140.8500213623047,
                                   :x2 675.869140625,
                                   :y2 164.0500030517578,
                                   :width 708,
                                   :height 531}
                                  {:x1 20.962499618530273,
                                   :y1 167.40000915527344,
                                   :x2 197.9650478363037,
                                   :y2 190.6000213623047,
                                   :width 708,
                                   :height 531}),
                          :page 30},
               :content {:text "数据和计算不是相互独立的层"},
               :properties {:color "red"}}],
 :extra {:page 61}}
