{:highlights [{:id #uuid "665dcdb2-6a1d-41f9-acd6-3706e82b65a7",
               :page 40,
               :position {:bounding {:x1 61.92499923706055,
                                     :y1 287.73751068115234,
                                     :x2 293.83624267578125,
                                     :y2 319.73751068115234,
                                     :width 732,
                                     :height 549},
                          :rects ({:x1 131.10000610351562,
                                   :y1 287.73751068115234,
                                   :x2 147.97500610351562,
                                   :y2 319.73751068115234,
                                   :width 732,
                                   :height 549}
                                  {:x1 181.6750030517578,
                                   :y1 287.73751068115234,
                                   :x2 198.5500030517578,
                                   :y2 319.73751068115234,
                                   :width 732,
                                   :height 549}
                                  {:x1 232.9875030517578,
                                   :y1 287.73751068115234,
                                   :x2 249.8625030517578,
                                   :y2 319.73751068115234,
                                   :width 732,
                                   :height 549}
                                  {:x1 70.48750305175781,
                                   :y1 290.1375045776367,
                                   :x2 293.83624267578125,
                                   :y2 314.3499984741211,
                                   :width 732,
                                   :height 549}
                                  {:x1 61.92499923706055,
                                   :y1 304.96251678466797,
                                   :x2 76.30000305175781,
                                   :y2 319.08751678466797,
                                   :width 732,
                                   :height 549}
                                  {:x1 98.88750457763672,
                                   :y1 304.96251678466797,
                                   :x2 106.0875015258789,
                                   :y2 319.08751678466797,
                                   :width 732,
                                   :height 549}),
                          :page 40},
               :content {:text "1.09.09.0})({ 11 h"},
               :properties {:color "green"}}
              {:id #uuid "665dcfb4-8741-4555-a9f7-c8a5a70f6890",
               :page 41,
               :position {:bounding {:x1 69.9000015258789,
                                     :y1 213.78749084472656,
                                     :x2 643.6625366210938,
                                     :y2 319.46250915527344,
                                     :width 732,
                                     :height 549},
                          :rects ({:x1 157.66250610351562,
                                   :y1 213.78749084472656,
                                   :x2 174.53750610351562,
                                   :y2 245.78749084472656,
                                   :width 732,
                                   :height 549}
                                  {:x1 390.07501220703125,
                                   :y1 213.78749084472656,
                                   :x2 406.95001220703125,
                                   :y2 245.78749084472656,
                                   :width 732,
                                   :height 549}
                                  {:x1 70.26250457763672,
                                   :y1 216.18751525878906,
                                   :x2 82.36250305175781,
                                   :y2 240.18751525878906,
                                   :width 732,
                                   :height 549}
                                  {:x1 94.42500305175781,
                                   :y1 216.18751525878906,
                                   :x2 216.53750610351562,
                                   :y2 240.40000915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 236.0625,
                                   :y1 216.18751525878906,
                                   :x2 306.13751220703125,
                                   :y2 240.40000915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 328.375,
                                   :y1 216.18751525878906,
                                   :x2 421.0625,
                                   :y2 240.40000915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 440.5874938964844,
                                   :y1 216.18751525878906,
                                   :x2 510.6625061035156,
                                   :y2 240.40000915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 532.8125,
                                   :y1 216.18751525878906,
                                   :x2 592.3500366210938,
                                   :y2 240.40000915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 602.3624877929688,
                                   :y1 216.18751525878906,
                                   :x2 643.6625366210938,
                                   :y2 240.40000915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 123.70000457763672,
                                   :y1 230.96250915527344,
                                   :x2 130.90000915527344,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 226.6999969482422,
                                   :y1 230.96250915527344,
                                   :x2 233.90000915527344,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 265.4125061035156,
                                   :y1 230.96250915527344,
                                   :x2 272.6125183105469,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 317.82501220703125,
                                   :y1 230.96250915527344,
                                   :x2 325.0249938964844,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 357.6499938964844,
                                   :y1 230.96250915527344,
                                   :x2 364.8500061035156,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 431.13751220703125,
                                   :y1 230.96250915527344,
                                   :x2 438.3374938964844,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 469.8625183105469,
                                   :y1 230.96250915527344,
                                   :x2 477.0625,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 522.3500366210938,
                                   :y1 230.96250915527344,
                                   :x2 529.5499877929688,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 562.1000366210938,
                                   :y1 230.96250915527344,
                                   :x2 569.2999877929688,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 592.25,
                                   :y1 230.96250915527344,
                                   :x2 599.4500122070312,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 623,
                                   :y1 230.96250915527344,
                                   :x2 630.2000122070312,
                                   :y2 245.08750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 69.9000015258789,
                                   :y1 250.62501525878906,
                                   :x2 86.7750015258789,
                                   :y2 282.62501525878906,
                                   :width 732,
                                   :height 549}
                                  {:x1 120.4124984741211,
                                   :y1 253.02500915527344,
                                   :x2 179.9375,
                                   :y2 277.2375030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 189.9499969482422,
                                   :y1 253.02500915527344,
                                   :x2 251.97500610351562,
                                   :y2 277.2375030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 274.125,
                                   :y1 253.02500915527344,
                                   :x2 305.1125183105469,
                                   :y2 277.2375030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 69.9000015258789,
                                   :y1 254.62501525878906,
                                   :x2 100.88750457763672,
                                   :y2 278.83750915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 110.9625015258789,
                                   :y1 267.8000030517578,
                                   :x2 118.1624984741211,
                                   :y2 281.9250030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 149.6875,
                                   :y1 267.8000030517578,
                                   :x2 156.8874969482422,
                                   :y2 281.9250030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 179.85000610351562,
                                   :y1 267.8000030517578,
                                   :x2 187.0500030517578,
                                   :y2 281.9250030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 210.58750915527344,
                                   :y1 267.8000030517578,
                                   :x2 217.78750610351562,
                                   :y2 281.9250030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 263.6625061035156,
                                   :y1 267.8000030517578,
                                   :x2 270.8625183105469,
                                   :y2 281.9250030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 303.4125061035156,
                                   :y1 267.8000030517578,
                                   :x2 310.6125183105469,
                                   :y2 281.9250030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 69.9000015258789,
                                   :y1 287.46250915527344,
                                   :x2 86.7750015258789,
                                   :y2 319.46250915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 131.75,
                                   :y1 287.46250915527344,
                                   :x2 148.625,
                                   :y2 319.46250915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 220.83750915527344,
                                   :y1 287.46250915527344,
                                   :x2 237.71250915527344,
                                   :y2 319.46250915527344,
                                   :width 732,
                                   :height 549}
                                  {:x1 69.9000015258789,
                                   :y1 291.46250915527344,
                                   :x2 86.7750015258789,
                                   :y2 315.6750030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 131.75,
                                   :y1 291.46250915527344,
                                   :x2 148.625,
                                   :y2 315.6750030517578,
                                   :width 732,
                                   :height 549}
                                  {:x1 220.83750915527344,
                                   :y1 291.46250915527344,
                                   :x2 237.71250915527344,
                                   :y2 315.6750030517578,
                                   :width 732,
                                   :height 549}),
                          :page 41},
               :content {:text "({}),,({},,({})({})({})({[})({12321132121112111 hMhhhM hhhMhMhMhMKhM"},
               :properties {:color "blue"}}
              {:id #uuid "665dcfd4-63d1-4c1d-9110-5d550ad8f81c",
               :page 38,
               :position {:bounding {:x1 276.8374938964844,
                                     :y1 356.5125045776367,
                                     :x2 309.9087829589844,
                                     :y2 382.9124984741211,
                                     :width 732,
                                     :height 549},
                          :rects ({:x1 276.8374938964844,
                                   :y1 356.5125045776367,
                                   :x2 309.9087829589844,
                                   :y2 382.9124984741211,
                                   :width 732,
                                   :height 549}),
                          :page 38},
               :content {:text "0.9"},
               :properties {:color "green"}}],
 :extra {:page 78}}
