{:highlights [{:id #uuid "665dddd4-c68f-4198-8bb9-b3321cb98b11",
               :page 2,
               :position {:bounding {:x1 82.4124984741211,
                                     :y1 81.33750915527344,
                                     :x2 683.2186279296875,
                                     :y2 159.9375,
                                     :width 732,
                                     :height 549},
                          :rects ({:x1 654.592041015625,
                                   :y1 81.33750915527344,
                                   :x2 683.2186279296875,
                                   :y2 118.9375,
                                   :width 732,
                                   :height 549}
                                  {:x1 82.4124984741211,
                                   :y1 122.33749389648438,
                                   :x2 196.85595703125,
                                   :y2 159.9375,
                                   :width 732,
                                   :height 549}),
                          :page 2},
               :content {:text "问题的表示"},
               :properties {:color "red"}}
              {:id #uuid "665dddda-4ba3-47d8-b3ce-eae8e92b82a1",
               :page 2,
               :position {:bounding {:x1 82.4124984741211,
                                     :y1 163.3000030517578,
                                     :x2 683.2186889648438,
                                     :y2 241.85000610351562,
                                     :width 732,
                                     :height 549},
                          :rects ({:x1 597.3766479492188,
                                   :y1 163.3000030517578,
                                   :x2 683.2186889648438,
                                   :y2 200.89999389648438,
                                   :width 732,
                                   :height 549}
                                  {:x1 82.4124984741211,
                                   :y1 204.25,
                                   :x2 368.51488494873047,
                                   :y2 241.85000610351562,
                                   :width 732,
                                   :height 549}),
                          :page 2},
               :content {:text "选择一种相对合适的求解方法"},
               :properties {:color "red"}}],
 :extra {:page 63}}
