{:highlights [{:id #uuid "665535ca-b1e5-4b8f-ba33-64d90dc57843",
               :page 24,
               :position {:bounding {:x1 256.2705078125,
                                     :y1 246.46250915527344,
                                     :x2 521.3291015625,
                                     :y2 276.06251525878906,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 256.2705078125,
                                   :y1 246.46250915527344,
                                   :x2 521.3291015625,
                                   :y2 276.06251525878906,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 24},
               :content {:text "一切从顾客需求出发"},
               :properties {:color "red"}}
              {:id #uuid "665535d6-6966-443a-8c40-98e5e1bec41c",
               :page 24,
               :position {:bounding {:x1 73.92500305175781,
                                     :y1 352.23749923706055,
                                     :x2 692.2538299560547,
                                     :y2 417.5875053405762,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 250.5850067138672,
                                   :y1 352.23749923706055,
                                   :x2 692.2538299560547,
                                   :y2 381.8375053405762,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}
                                  {:x1 73.92500305175781,
                                   :y1 387.98749923706055,
                                   :x2 368.28675842285156,
                                   :y2 417.5875053405762,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 24},
               :content {:text "有助于企业最大程度的降低成本，提高质量和用户满意度"},
               :properties {:color "red"}}
              {:id #uuid "66583b05-5698-41b5-b661-bbb81f78d794",
               :page 21,
               :position {:bounding {:x1 39.17499923706055,
                                     :y1 120.64999389648438,
                                     :x2 417.09992599487305,
                                     :y2 230,
                                     :width 652.9999999999999,
                                     :height 489.74999999999994},
                          :rects ({:x1 39.17499923706055,
                                   :y1 120.64999389648438,
                                   :x2 388.0032768249512,
                                   :y2 149.45001220703125,
                                   :width 652.9999999999999,
                                   :height 489.74999999999994}
                                  {:x1 39.17499923706055,
                                   :y1 160.89999389648438,
                                   :x2 300.9024772644043,
                                   :y2 189.70001220703125,
                                   :width 652.9999999999999,
                                   :height 489.74999999999994}
                                  {:x1 39.17499923706055,
                                   :y1 201.20001220703125,
                                   :x2 417.09992599487305,
                                   :y2 230,
                                   :width 652.9999999999999,
                                   :height 489.74999999999994}),
                          :page 21},
               :content {:text "确定流程改进的总体框架，细化框架内的要求，确流程改进的度量方法与标准"},
               :properties {:color "red"}}
              {:id #uuid "66583b08-7919-4925-908f-3d4b4780e062",
               :page 21,
               :position {:bounding {:x1 432.2770690917969,
                                     :y1 78.97499084472656,
                                     :x2 519.423828125,
                                     :y2 109.375,
                                     :width 652.9999999999999,
                                     :height 489.74999999999994},
                          :rects ({:x1 432.2770690917969,
                                   :y1 78.97499084472656,
                                   :x2 519.423828125,
                                   :y2 109.375,
                                   :width 652.9999999999999,
                                   :height 489.74999999999994}),
                          :page 21},
               :content {:text "三大步"},
               :properties {:color "red"}}],
 :extra {:page 6}}
