{:highlights [{:id #uuid "66555291-1656-41d8-892f-e45658be3184",
               :page 6,
               :position {:bounding {:x1 67.1875,
                                     :y1 279.1750011444092,
                                     :x2 307.26251220703125,
                                     :y2 344.51249504089355,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 187.1639862060547,
                                   :y1 279.1750011444092,
                                   :x2 307.26251220703125,
                                   :y2 308.7750072479248,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}
                                  {:x1 67.1875,
                                   :y1 314.91251945495605,
                                   :x2 273.2892761230469,
                                   :y2 344.51249504089355,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 6},
               :content {:text "适宜性、有效性、充分性"},
               :properties {:color "red"}}
              {:id #uuid "665552fb-4caf-4852-9e0f-8c64924465e5",
               :page 16,
               :position {:bounding {:x1 157.42500001192093,
                                     :y1 187.72499084472656,
                                     :x2 599.8487671017647,
                                     :y2 266.1750030517578,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 157.42500001192093,
                                   :y1 187.72499084472656,
                                   :x2 599.8487671017647,
                                   :y2 218.12501525878906,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}
                                  {:x1 201.51250916719437,
                                   :y1 235.77500915527344,
                                   :x2 526.1232421994209,
                                   :y2 266.1750030517578,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 16},
               :content {:text "对于最可能产生风险的工作成果，要采用最正式的评审方法"},
               :properties {:color "red"}}
              {:id #uuid "66557692-e7a6-452a-8978-05585f166e21",
               :page 2,
               :position {:bounding {:x1 73.92500305175781,
                                     :y1 127.3125,
                                     :x2 692.25390625,
                                     :y2 192.66250610351562,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 397.8079833984375,
                                   :y1 127.3125,
                                   :x2 692.25390625,
                                   :y2 156.91250610351562,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}
                                  {:x1 73.92500305175781,
                                   :y1 163.0625,
                                   :x2 515.4677276611328,
                                   :y2 192.66250610351562,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 2},
               :content {:text "通过软件评审尽早的产品中的缺陷，减少大量的后期返工"},
               :properties {:color "red"}}],
 :extra {:page 18}}
