{:highlights [{:id #uuid "665ea6ff-f234-4442-9abd-e4a3f43c9e8a",
               :page 3,
               :position {:bounding {:x1 365.49592286348343,
                                     :y1 89.80000305175781,
                                     :x2 487.1223571896553,
                                     :y2 129.00001525878906,
                                     :width 759,
                                     :height 569.25},
                          :rects ({:x1 365.49592286348343,
                                   :y1 89.80000305175781,
                                   :x2 487.1223571896553,
                                   :y2 129.00001525878906,
                                   :width 759,
                                   :height 569.25}),
                          :page 3},
               :content {:text "进化计算"},
               :properties {:color "red"}}
              {:id #uuid "665ea703-4303-4c52-9582-8acfc145ab0a",
               :page 3,
               :position {:bounding {:x1 517.5192993283272,
                                     :y1 89.80000305175781,
                                     :x2 608.7359130978584,
                                     :y2 129.00001525878906,
                                     :width 759,
                                     :height 569.25},
                          :rects ({:x1 517.5192993283272,
                                   :y1 89.80000305175781,
                                   :x2 608.7359130978584,
                                   :y2 129.00001525878906,
                                   :width 759,
                                   :height 569.25}),
                          :page 3},
               :content {:text "群智能"},
               :properties {:color "red"}}
              {:id #uuid "66626247-30d3-4a1a-bc4c-64295eb2d03a",
               :page 7,
               :position {:bounding {:x1 297.1900329589844,
                                     :y1 192.65000915527344,
                                     :x2 503.6405944824219,
                                     :y2 225.45001220703125,
                                     :width 640,
                                     :height 480},
                          :rects ({:x1 297.1900329589844,
                                   :y1 192.65000915527344,
                                   :x2 503.6405944824219,
                                   :y2 225.45001220703125,
                                   :width 640,
                                   :height 480}),
                          :page 7},
               :content {:text "选择、重组和变异"},
               :properties {:color "red"}}],
 :extra {:page 31}}
