{:highlights [{:id #uuid "66583d6d-e8e6-495f-9e13-58f13efba6e1",
               :page 19,
               :position {:bounding {:x1 56.99999924004078,
                                     :y1 85.08749389648438,
                                     :x2 308.9298202544451,
                                     :y2 191.23748779296875,
                                     :width 716.9999999999999,
                                     :height 537.75},
                          :rects ({:x1 69.92499847710133,
                                   :y1 85.08749389648438,
                                   :x2 153.70134277641773,
                                   :y2 121.88751220703125,
                                   :width 716.9999999999999,
                                   :height 537.75}
                                  {:x1 69.92499847710133,
                                   :y1 123.77499389648438,
                                   :x2 308.9298202544451,
                                   :y2 156.57501220703125,
                                   :width 716.9999999999999,
                                   :height 537.75}
                                  {:x1 56.99999924004078,
                                   :y1 135.97500610351562,
                                   :x2 66.98749847710133,
                                   :y2 151.97500610351562,
                                   :width 716.9999999999999,
                                   :height 537.75}
                                  {:x1 69.92499847710133,
                                   :y1 158.4375,
                                   :x2 213.3350021392107,
                                   :y2 191.23748779296875,
                                   :width 716.9999999999999,
                                   :height 537.75}
                                  {:x1 56.99999924004078,
                                   :y1 170.625,
                                   :x2 66.98749847710133,
                                   :y2 186.625,
                                   :width 716.9999999999999,
                                   :height 537.75}),
                          :page 19},
               :content {:text "不负责◼生产高质量的软件产品◼制定质量计划"},
               :properties {:color "red"}}],
 :extra {:page 29}}
