{:highlights [{:id #uuid "66558d3e-306a-429a-9866-e6ae5413fab2",
               :page 2,
               :position {:bounding {:x1 76.6624984741211,
                                     :y1 120.67501831054688,
                                     :x2 695.4967041015625,
                                     :y2 195.25,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 518.6798095703125,
                                   :y1 120.67501831054688,
                                   :x2 695.4967041015625,
                                   :y2 159.875,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}
                                  {:x1 76.6624984741211,
                                   :y1 156.05001831054688,
                                   :x2 459.6384811401367,
                                   :y2 195.25,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 2},
               :content {:text "将用户需求准确转化为软件系统的唯一途径"},
               :properties {:color "red"}}
              {:id #uuid "6655db9a-6995-4a6c-a1de-b036bd928d3c",
               :page 20,
               :position {:bounding {:x1 87.93750458955765,
                                     :y1 463.5,
                                     :x2 694.3875091671944,
                                     :y2 529.3999938964844,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 87.93750458955765,
                                   :y1 463.5,
                                   :x2 694.3875091671944,
                                   :y2 498.70001220703125,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}
                                  {:x1 87.93750458955765,
                                   :y1 494.20001220703125,
                                   :x2 264.9599044919014,
                                   :y2 529.3999938964844,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 20},
               :content {:text "框架模型主要以一些特殊的问题为目标建立只针对和适应该问题的结构"},
               :properties {:color "red"}}
              {:id #uuid "6655ddfb-8020-486e-8159-6c79e0702bc2",
               :page 34,
               :position {:bounding {:x1 83.39999848604202,
                                     :y1 159.83750915527344,
                                     :x2 705.1692627072334,
                                     :y2 234.38751220703125,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 83.39999848604202,
                                   :y1 159.83750915527344,
                                   :x2 705.1692627072334,
                                   :y2 199.03750610351562,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}
                                  {:x1 83.39999848604202,
                                   :y1 195.1875,
                                   :x2 348.35229951143265,
                                   :y2 234.38751220703125,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 34},
               :content {:text "可以利用UML语言先建模再编写代码，从一开始就保证系统结构合理"},
               :properties {:color "red"}}
              {:id #uuid "6655e184-28a9-4281-8f38-eaf29054400e",
               :page 42,
               :position {:bounding {:x1 284.5089538693428,
                                     :y1 128.64999389648438,
                                     :x2 360.32944947481155,
                                     :y2 161.45001220703125,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 284.5089538693428,
                                   :y1 128.64999389648438,
                                   :x2 360.32944947481155,
                                   :y2 161.45001220703125,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 42},
               :content {:text "一致性"},
               :properties {:color "red"}}
              {:id #uuid "6655e187-3ec5-4e39-868d-8c3d25779016",
               :page 42,
               :position {:bounding {:x1 233.97857362031937,
                                     :y1 162.125,
                                     :x2 284.52143555879593,
                                     :y2 194.92498779296875,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 233.97857362031937,
                                   :y1 162.125,
                                   :x2 284.52143555879593,
                                   :y2 194.92498779296875,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 42},
               :content {:text "自助"},
               :properties {:color "red"}}
              {:id #uuid "6655e18b-f704-4cc6-a490-1262aeff7ff8",
               :page 42,
               :position {:bounding {:x1 183.43154603242874,
                                     :y1 195.57501220703125,
                                     :x2 259.30000001192093,
                                     :y2 228.375,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 183.43154603242874,
                                   :y1 195.57501220703125,
                                   :x2 259.30000001192093,
                                   :y2 228.375,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 42},
               :content {:text "易懂性"},
               :properties {:color "red"}}
              {:id #uuid "66583d9a-409a-4dc9-8e88-4029386fe043",
               :page 36,
               :position {:bounding {:x1 180.0562927275896,
                                     :y1 256.3250427246094,
                                     :x2 251.83603210747242,
                                     :y2 288.3250427246094,
                                     :width 716.9999999999999,
                                     :height 537.75},
                          :rects ({:x1 180.0562927275896,
                                   :y1 256.3250427246094,
                                   :x2 251.83603210747242,
                                   :y2 288.3250427246094,
                                   :width 716.9999999999999,
                                   :height 537.75}),
                          :page 36},
               :content {:text "数据流"},
               :properties {:color "red"}}
              {:id #uuid "66583d9c-deec-424c-8cb9-1750b529f353",
               :page 36,
               :position {:bounding {:x1 275.7501098662615,
                                     :y1 256.3250427246094,
                                     :x2 347.52983398735523,
                                     :y2 288.3250427246094,
                                     :width 716.9999999999999,
                                     :height 537.75},
                          :rects ({:x1 275.7501098662615,
                                   :y1 256.3250427246094,
                                   :x2 347.52983398735523,
                                   :y2 288.3250427246094,
                                   :width 716.9999999999999,
                                   :height 537.75}),
                          :page 36},
               :content {:text "控制流"},
               :properties {:color "red"}}],
 :extra {:page 39}}
