{:highlights [{:id #uuid "6655eea3-cf17-4f38-89d6-785d565c56d9",
               :page 28,
               :position {:bounding {:x1 89.8125,
                                     :y1 162.125,
                                     :x2 715.3232421875,
                                     :y2 225.22500610351562,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 89.8125,
                                   :y1 162.125,
                                   :x2 715.3232421875,
                                   :y2 194.92501831054688,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}
                                  {:x1 89.8125,
                                   :y1 192.42501831054688,
                                   :x2 241.39370727539062,
                                   :y2 225.22500610351562,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 28},
               :content {:text "free和delete只是把指针所指的内存给释放掉，但并没有把指针本身干掉"},
               :properties {:color "red"}}
              {:id #uuid "6655ef0d-4d89-4137-b308-0578fe169c0a",
               :page 30,
               :position {:bounding {:x1 83.5,
                                     :y1 340.3000030517578,
                                     :x2 704.8875122070312,
                                     :y2 403.4250183105469,
                                     :width 757.9999999999999,
                                     :height 568.4999999999999},
                          :rects ({:x1 475.1875,
                                   :y1 340.3000030517578,
                                   :x2 704.8875122070312,
                                   :y2 373.1000061035156,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}
                                  {:x1 83.5,
                                   :y1 370.625,
                                   :x2 108.77767181396484,
                                   :y2 403.4250183105469,
                                   :width 757.9999999999999,
                                   :height 568.4999999999999}),
                          :page 30},
               :content {:text "const只能修饰输入参数"},
               :properties {:color "red"}}],
 :extra {:page 35}}
