{:highlights [{:id #uuid "65815164-b626-444e-b8ba-834ea3b0eb11",
               :page 3,
               :position {:bounding {:x1 83.11250305175781,
                                     :y1 209.8249969482422,
                                     :x2 225.3433837890625,
                                     :y2 231.4250030517578,
                                     :width 800.0000000000001,
                                     :height 449.531737773153},
                          :rects ({:x1 83.11250305175781,
                                   :y1 209.8249969482422,
                                   :x2 225.3433837890625,
                                   :y2 231.4250030517578,
                                   :width 800.0000000000001,
                                   :height 449.531737773153}),
                          :page 3},
               :content {:text "(PQ+pS,è'êëí'ì"},
               :properties {:color "yellow"}}
              {:id #uuid "658151c2-fc0b-49bf-8e8e-a57925d94a67",
               :page 3,
               :position {:bounding {:x1 353.3500061035156,
                                     :y1 329.7125129699707,
                                     :x2 497.0262145996094,
                                     :y2 351.3125190734863,
                                     :width 800.0000000000001,
                                     :height 449.531737773153},
                          :rects ({:x1 353.3500061035156,
                                   :y1 329.7125129699707,
                                   :x2 497.0262145996094,
                                   :y2 351.3125190734863,
                                   :width 800.0000000000001,
                                   :height 449.531737773153}),
                          :page 3},
               :content {:text "(PQ+p,P(êë,*Pì"},
               :properties {:color "yellow"}}
              {:id #uuid "65815207-173d-49f9-9f8b-e0da67a38016",
               :page 4,
               :position {:bounding {:x1 124.1500015258789,
                                     :y1 179.7874984741211,
                                     :x2 216.9186248779297,
                                     :y2 196.58751678466797,
                                     :width 800.0000000000001,
                                     :height 449.531737773153},
                          :rects ({:x1 124.1500015258789,
                                   :y1 179.7874984741211,
                                   :x2 216.9186248779297,
                                   :y2 196.58751678466797,
                                   :width 800.0000000000001,
                                   :height 449.531737773153}),
                          :page 4},
               :content {:text "nova-conductor"},
               :properties {:color "yellow"}}
              {:id #uuid "6581522a-e548-4387-ae51-41316f7b81f2",
               :page 4,
               :position {:bounding {:x1 411.20001220703125,
                                     :y1 153.63750457763672,
                                     :x2 437.6000061035156,
                                     :y2 236.15311431884766,
                                     :width 800.0000000000001,
                                     :height 449.531737773153},
                          :rects ({:x1 411.20001220703125,
                                   :y1 153.63750457763672,
                                   :x2 437.6000061035156,
                                   :y2 236.15311431884766,
                                   :width 800.0000000000001,
                                   :height 449.531737773153}),
                          :page 4},
               :content {:text "RabbitMQ"},
               :properties {:color "yellow"}}],
 :extra {:page 14}}
