{:highlights [{:id #uuid "65797651-638e-48e4-9174-d3437dbd6377",
               :page 56,
               :position {:bounding {:x1 428.42255860567093,
                                     :y1 250.36249542236328,
                                     :x2 474.33457642793655,
                                     :y2 280.7625198364258,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 428.42255860567093,
                                   :y1 250.36249542236328,
                                   :x2 474.33457642793655,
                                   :y2 280.7625198364258,
                                   :width 918,
                                   :height 516.375}),
                          :page 56},
               :content {:text "直至"},
               :properties {:color "yellow"}}
              {:id #uuid "65797717-cd5a-4140-83d5-f89f486ea719",
               :page 57,
               :position {:bounding {:x1 242.43052369356155,
                                     :y1 377.3375015258789,
                                     :x2 448.9970825314522,
                                     :y2 407.7374954223633,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 242.43052369356155,
                                   :y1 377.3375015258789,
                                   :x2 448.9970825314522,
                                   :y2 407.7374954223633,
                                   :width 918,
                                   :height 516.375}),
                          :page 57},
               :content {:text "增加了信道空闲时间"},
               :properties {:color "yellow"}}
              {:id #uuid "6579775c-33c4-49a4-b857-0765da48b62e",
               :page 58,
               :position {:bounding {:x1 459.5410583615303,
                                     :y1 251.54998779296875,
                                     :x2 634.8990600705147,
                                     :y2 281.95001220703125,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 459.5410583615303,
                                   :y1 251.54998779296875,
                                   :x2 634.8990600705147,
                                   :y2 281.95001220703125,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 528.4000366330147,
                                   :y1 255.54998779296875,
                                   :x2 543.0625122189522,
                                   :y2 278.5,
                                   :width 918,
                                   :height 516.375}),
                          :page 58},
               :content {:text "以概率p发送数据"},
               :properties {:color "yellow"}}
              {:id #uuid "65797761-e0a1-4a06-86a7-bd2c3d8a5707",
               :page 58,
               :position {:bounding {:x1 207.10000306367874,
                                     :y1 251.54998779296875,
                                     :x2 805.3555420041084,
                                     :y2 320.2124938964844,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 680.7874878048897,
                                   :y1 251.54998779296875,
                                   :x2 805.3555420041084,
                                   :y2 281.95001220703125,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 736.5000122189522,
                                   :y1 255.54998779296875,
                                   :x2 805.3555420041084,
                                   :y2 278.5,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 207.10000306367874,
                                   :y1 289.8125305175781,
                                   :x2 436.61005860567093,
                                   :y2 320.2124938964844,
                                   :width 918,
                                   :height 516.375}),
                          :page 58},
               :content {:text "(1–p)的概率延迟一个时间单元发送"},
               :properties {:color "yellow"}}
              {:id #uuid "657977d8-5e85-45b9-b599-b4fcd871ee22",
               :page 58,
               :position {:bounding {:x1 390.6980407834053,
                                     :y1 366.2875118255615,
                                     :x2 551.3526123166084,
                                     :y2 396.6875057220459,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 390.6980407834053,
                                   :y1 366.2875118255615,
                                   :x2 551.3526123166084,
                                   :y2 396.6875057220459,
                                   :width 918,
                                   :height 516.375}),
                          :page 58},
               :content {:text "下一个时间单元"},
               :properties {:color "yellow"}}
              {:id #uuid "657978d2-b6c6-41a9-a90e-482f5ebf2bbc",
               :page 64,
               :position {:bounding {:x1 189.57635194063187,
                                     :y1 140.3499984741211,
                                     :x2 368.3720825314522,
                                     :y2 173.95001983642578,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 189.57635194063187,
                                   :y1 140.3499984741211,
                                   :x2 368.3720825314522,
                                   :y2 173.95001983642578,
                                   :width 918,
                                   :height 516.375}),
                          :page 64},
               :content {:text "端到端往返时延"},
               :properties {:color "yellow"}}
              {:id #uuid "657978da-c67f-45e9-b7dd-0567500e08db",
               :page 64,
               :position {:bounding {:x1 68.01250153779984,
                                     :y1 249.4000015258789,
                                     :x2 832.9726455807686,
                                     :y2 281.4000015258789,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 68.01250153779984,
                                   :y1 249.4000015258789,
                                   :x2 832.9726455807686,
                                   :y2 281.4000015258789,
                                   :width 918,
                                   :height 516.375}),
                          :page 64},
               :content {:text "经过争用期这段时间还没有检测到碰撞，才能肯定这次发送不会发生碰撞"},
               :properties {:color "yellow"}}
              {:id #uuid "657978e0-f9c3-4870-926c-7c2bc1e5f790",
               :page 64,
               :position {:bounding {:x1 280.6250122189522,
                                     :y1 379.17499446868896,
                                     :x2 555.5436523556709,
                                     :y2 412.7750005722046,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 280.6250122189522,
                                   :y1 379.17499446868896,
                                   :x2 555.5436523556709,
                                   :y2 412.7750005722046,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 459.4499939084053,
                                   :y1 383.97501277923584,
                                   :x2 504.48750001192093,
                                   :y2 409.54999446868896,
                                   :width 918,
                                   :height 516.375}),
                          :page 64},
               :content {:text "最短有效帧长为 64 字节"},
               :properties {:color "yellow"}}
              {:id #uuid "657978e5-c5ea-44eb-ae88-3d1e06b1ba6c",
               :page 65,
               :position {:bounding {:x1 134.30000001192093,
                                     :y1 137.61251068115234,
                                     :x2 313.02207642793655,
                                     :y2 171.2125015258789,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 134.30000001192093,
                                   :y1 137.61251068115234,
                                   :x2 313.02207642793655,
                                   :y2 171.2125015258789,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 261.90000611543655,
                                   :y1 142.41251373291016,
                                   :x2 313.02207642793655,
                                   :y2 167.98749542236328,
                                   :width 918,
                                   :height 516.375}),
                          :page 65},
               :content {:text "二进制指数退避"},
               :properties {:color "yellow"}}
              {:id #uuid "657978ec-f545-4152-8a4c-871a109f6c83",
               :page 65,
               :position {:bounding {:x1 111.35000306367874,
                                     :y1 228.5750026702881,
                                     :x2 249.06200867891312,
                                     :y2 258.9750118255615,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 111.35000306367874,
                                   :y1 228.5750026702881,
                                   :x2 249.06200867891312,
                                   :y2 258.9750118255615,
                                   :width 918,
                                   :height 516.375}),
                          :page 65},
               :content {:text "基本退避时间"},
               :properties {:color "yellow"}}
              {:id #uuid "65797919-a68f-408f-988e-e40883673978",
               :page 65,
               :position {:bounding {:x1 119.42500001192093,
                                     :y1 310.2625198364258,
                                     :x2 497.92402344942093,
                                     :y2 342.2625198364258,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 317.4375122189522,
                                   :y1 310.2625198364258,
                                   :x2 497.92402344942093,
                                   :y2 342.2625198364258,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 119.42500001192093,
                                   :y1 311.18750762939453,
                                   :x2 303.90000611543655,
                                   :y2 341.5875015258789,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 317.4375122189522,
                                   :y1 314.2625198364258,
                                   :x2 406.1245239377022,
                                   :y2 338.3624954223633,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 165.32500916719437,
                                   :y1 315.18750762939453,
                                   :x2 303.90000611543655,
                                   :y2 338.1375198364258,
                                   :width 918,
                                   :height 516.375}),
                          :page 65},
               :content {:text "重传所需的时延 = r ⅹ 基本退避时间"},
               :properties {:color "yellow"}}
              {:id #uuid "6579791f-4783-41a7-9720-9f719b103403",
               :page 65,
               :position {:bounding {:x1 163.95000916719437,
                                     :y1 351.5750198364258,
                                     :x2 396.0749939084053,
                                     :y2 383.5750198364258,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 163.95000916719437,
                                   :y1 351.5750198364258,
                                   :x2 396.0749939084053,
                                   :y2 383.5750198364258,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 176.43749696016312,
                                   :y1 355.5750198364258,
                                   :x2 388.4225280880928,
                                   :y2 379.6749954223633,
                                   :width 918,
                                   :height 516.375}),
                          :page 65},
               :content {:text "k = Min[重传次数, 10]"},
               :properties {:color "yellow"}}
              {:id #uuid "65797bee-1df4-4627-89e7-a7fc0518e522",
               :page 74,
               :position {:bounding {:x1 191.85000306367874,
                                     :y1 321.5124969482422,
                                     :x2 673.8011749386787,
                                     :y2 351.9125213623047,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 191.85000306367874,
                                   :y1 321.5124969482422,
                                   :x2 673.8011749386787,
                                   :y2 351.9125213623047,
                                   :width 918,
                                   :height 516.375}),
                          :page 74},
               :content {:text "轻负载下，发送延迟小；重负载下，信道效率低"},
               :properties {:color "yellow"}}
              {:id #uuid "65797bf3-9c9b-457b-ac3a-1d8352da7a40",
               :page 74,
               :position {:bounding {:x1 191.85000306367874,
                                     :y1 387.56251525878906,
                                     :x2 673.8011749386787,
                                     :y2 417.96253967285156,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 191.85000306367874,
                                   :y1 387.56251525878906,
                                   :x2 673.8011749386787,
                                   :y2 417.96253967285156,
                                   :width 918,
                                   :height 516.375}),
                          :page 74},
               :content {:text "轻负载下，发送延迟大；重负载下，信道效率高"},
               :properties {:color "yellow"}}
              {:id #uuid "65797bfb-3963-4c66-9c4e-6ee84d0b6edd",
               :page 74,
               :position {:bounding {:x1 191.85000306367874,
                                     :y1 453.66249084472656,
                                     :x2 650.85763245821,
                                     :y2 484.06251525878906,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 191.85000306367874,
                                   :y1 453.66249084472656,
                                   :x2 650.85763245821,
                                   :y2 484.06251525878906,
                                   :width 918,
                                   :height 516.375}),
                          :page 74},
               :content {:text "轻负载下使用竞争，重负载下使用无冲突方法"},
               :properties {:color "yellow"}}
              {:id #uuid "65797c3d-ee3b-4385-9770-598ac701648e",
               :page 76,
               :position {:bounding {:x1 261.98750001192093,
                                     :y1 146.18749237060547,
                                     :x2 364.17133790254593,
                                     :y2 179.78751373291016,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 261.98750001192093,
                                   :y1 146.18749237060547,
                                   :x2 364.17133790254593,
                                   :y2 179.78751373291016,
                                   :width 918,
                                   :height 516.375}),
                          :page 76},
               :content {:text "物理地址"},
               :properties {:color "yellow"}}
              {:id #uuid "65797c44-d8d0-4a2a-ad7e-ce1952c23008",
               :page 76,
               :position {:bounding {:x1 422.73750001192093,
                                     :y1 146.18751525878906,
                                     :x2 540.9596069455147,
                                     :y2 179.7875213623047,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 422.73750001192093,
                                   :y1 146.18751525878906,
                                   :x2 540.9596069455147,
                                   :y2 179.7875213623047,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 482.3125122189522,
                                   :y1 150.9875030517578,
                                   :x2 489.8874939084053,
                                   :y2 176.56251525878906,
                                   :width 918,
                                   :height 516.375}),
                          :page 76},
               :content {:text "MAC 地址"},
               :properties {:color "yellow"}}
              {:id #uuid "65797c47-3d7b-4976-970f-7501dee99060",
               :page 76,
               :position {:bounding {:x1 440.7250183224678,
                                     :y1 238.1000213623047,
                                     :x2 798.8285034298897,
                                     :y2 271.6999969482422,
                                     :width 918,
                                     :height 516.375},
                          :rects ({:x1 440.7250183224678,
                                   :y1 238.1000213623047,
                                   :x2 798.8285034298897,
                                   :y2 271.6999969482422,
                                   :width 918,
                                   :height 516.375}
                                  {:x1 593.8499878048897,
                                   :y1 242.90000915527344,
                                   :x2 722.2500122189522,
                                   :y2 268.4750213623047,
                                   :width 918,
                                   :height 516.375}),
                          :page 76},
               :content {:text "固化在适配器的 ROM 中的地址"},
               :properties {:color "yellow"}}],
 :extra {:page 106}}
