{:highlights [{:id #uuid "6578789d-5883-4862-9225-92f9e43bfee6",
               :page 15,
               :position {:bounding {:x1 384.2679138183594,
                                     :y1 270.33750915527344,
                                     :x2 699.9386596679688,
                                     :y2 303.1374969482422,
                                     :width 857,
                                     :height 482.0625},
                          :rects ({:x1 384.2679138183594,
                                   :y1 270.33750915527344,
                                   :x2 699.9386596679688,
                                   :y2 303.1374969482422,
                                   :width 857,
                                   :height 482.0625}),
                          :page 15},
               :content {:text "client presence detection/l"},
               :properties {:color "yellow"}}
              {:id #uuid "657878a5-c4c9-45fb-8722-e9aa6dbd2516",
               :page 15,
               :position {:bounding {:x1 582.2969970703125,
                                     :y1 300.27500915527344,
                                     :x2 739.4027099609375,
                                     :y2 333.07501220703125,
                                     :width 857,
                                     :height 482.0625},
                          :rects ({:x1 582.2969970703125,
                                   :y1 300.27500915527344,
                                   :x2 739.4027099609375,
                                   :y2 333.07501220703125,
                                   :width 857,
                                   :height 482.0625}),
                          :page 15},
               :content {:text "central serve"},
               :properties {:color "yellow"}}
              {:id #uuid "657878ad-06ec-4ea1-809a-b4abb0ce3848",
               :page 15,
               :position {:bounding {:x1 119.20000457763672,
                                     :y1 150.5,
                                     :x2 764.1307373046875,
                                     :y2 273.15000915527344,
                                     :width 857,
                                     :height 482.0625},
                          :rects ({:x1 431.2027282714844,
                                   :y1 150.5,
                                   :x2 764.1307373046875,
                                   :y2 183.3000030517578,
                                   :width 857,
                                   :height 482.0625}
                                  {:x1 151.25,
                                   :y1 180.47500610351562,
                                   :x2 756.6260986328125,
                                   :y2 213.27500915527344,
                                   :width 857,
                                   :height 482.0625}
                                  {:x1 119.20000457763672,
                                   :y1 186.25,
                                   :x2 756.6260986328125,
                                   :y2 211.0500030517578,
                                   :width 857,
                                   :height 482.0625}
                                  {:x1 119.20000457763672,
                                   :y1 189.4499969482422,
                                   :x2 142.5749969482422,
                                   :y2 208.1999969482422,
                                   :width 857,
                                   :height 482.0625}
                                  {:x1 151.25,
                                   :y1 240.35000610351562,
                                   :x2 534.0321655273438,
                                   :y2 273.15000915527344,
                                   :width 857,
                                   :height 482.0625}
                                  {:x1 119.20000457763672,
                                   :y1 246.1125030517578,
                                   :x2 142.5749969482422,
                                   :y2 270.9125061035156,
                                   :width 857,
                                   :height 482.0625}
                                  {:x1 119.20000457763672,
                                   :y1 249.3125,
                                   :x2 142.5749969482422,
                                   :y2 268.0625,
                                   :width 857,
                                   :height 482.0625}),
                          :page 15},
               :content {:text "ng address of remote party: m client-client connection: direct (not through server) m chatting between two users is P2"},
               :properties {:color "yellow"}}
              {:id #uuid "657878b7-5350-4eed-99f9-c3c48a69a5d4",
               :page 15,
               :position {:bounding {:x1 419.1989440917969,
                                     :y1 300.27500915527344,
                                     :x2 514.3793334960938,
                                     :y2 333.07501220703125,
                                     :width 857,
                                     :height 482.0625},
                          :rects ({:x1 419.1989440917969,
                                   :y1 300.27500915527344,
                                   :x2 514.3793334960938,
                                   :y2 333.07501220703125,
                                   :width 857,
                                   :height 482.0625}),
                          :page 15},
               :content {:text "address"},
               :properties {:color "yellow"}}
              {:id #uuid "657878e0-ee8d-4087-9eca-47e6e1dfb8b9",
               :page 15,
               :position {:bounding {:x1 430.88232421875,
                                     :y1 354.16251830756664,
                                     :x2 520.2640380859375,
                                     :y2 386.9625061005354,
                                     :width 857,
                                     :height 482.0625},
                          :rects ({:x1 430.88232421875,
                                   :y1 354.16251830756664,
                                   :x2 520.2640380859375,
                                   :y2 386.9625061005354,
                                   :width 857,
                                   :height 482.0625}),
                          :page 15},
               :content {:text " server "},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
