{:highlights [{:id #uuid "66543759-1968-4aa5-8add-0ed3f643728e",
               :page 34,
               :position {:bounding {:x1 308.6500183045864,
                                     :y1 433.92498779296875,
                                     :x2 331.2829223573208,
                                     :y2 449.125,
                                     :width 679,
                                     :height 509.25},
                          :rects ({:x1 308.6500183045864,
                                   :y1 433.92498779296875,
                                   :x2 331.2829223573208,
                                   :y2 449.125,
                                   :width 679,
                                   :height 509.25}),
                          :page 34},
               :content {:text "系统"},
               :properties {:color "red"}}
              {:id #uuid "6656c66c-970e-4cff-b89a-f19574b91a59",
               :page 38,
               :position {:bounding {:x1 296.6629516594112,
                                     :y1 341.925012588501,
                                     :x2 370.70039672777057,
                                     :y2 367.5250186920166,
                                     :width 876.9999999999999,
                                     :height 657.7499999999999},
                          :rects ({:x1 296.6629516594112,
                                   :y1 341.925012588501,
                                   :x2 370.70039672777057,
                                   :y2 367.5250186920166,
                                   :width 876.9999999999999,
                                   :height 657.7499999999999}),
                          :page 38},
               :content {:text "getText()"},
               :properties {:color "yellow"}}
              {:id #uuid "6656c727-f73f-46f9-8c1e-f8532f601fd6",
               :page 38,
               :position {:bounding {:x1 187.11250610277057,
                                     :y1 446.1875190734863,
                                     :x2 252.64999694749713,
                                     :y2 474.9875068664551,
                                     :width 876.9999999999999,
                                     :height 657.7499999999999},
                          :rects ({:x1 187.11250610277057,
                                   :y1 446.1875190734863,
                                   :x2 252.64999694749713,
                                   :y2 474.9875068664551,
                                   :width 876.9999999999999,
                                   :height 657.7499999999999}),
                          :page 38},
               :content {:text "bundle"},
               :properties {:color "yellow"}}],
 :extra {:page 39}}
